.stAppHeader.st-emotion-cache-h4xjwg.ezrtsby2{
    background-color: black
}
.stMain.st-emotion-cache-bm2z3a.ea3mdgi8{
    background-color: white;
}
#find-me{
    color: black;
}
h3{
    color: black;
}
.st-emotion-cache-m78myu.e1nzilvr3{
    color: black;
}
.st-emotion-cache-1erivf3.e1b2p2ww15, .st-emotion-cache-15hul6a.ef3psqc16{
    background-color: lightgray;
    color:black;
    border: 1px solid black;
}
.st-emotion-cache-uef7qa.e1nzilvr5,.stFileUploaderFileName.st-emotion-cache-1uixxvy.e1b2p2ww6, .st-emotion-cache-7oyrr6.e1bju1570{
    color: black
}